body {
    padding: 7px;
    background-color: #90aa88;
    font-family: 'Inter', sans-serif;
}

/* outer-most container */
.containerOne {
    border: 1px solid rgb(236, 230, 230);
    background-color: #4e6448;
    position: relative;
    max-height: 610px;
}

nav {
    margin: 40px auto 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    max-width: 1250px;
    font-size: 1.3em;
}

nav a {
    margin-left: 19px;
    color: #fff;
    text-decoration: none;
}

video {
    display: block;
    visibility: hidden;
    margin: 0 auto;
}

video::-webkit-media-controls {
    display: none;
}

/* overlapping-container(over the animation) */
.overlayBox {
    z-index: 2;
    position: absolute;
    top: 0px;
    width: 600px;
    height: 610px;
    background: rgba(255, 255, 255, 0.116);
    box-shadow: 0 8px 32px 0 rgba(20, 20, 22, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: #fff;
}

/* ayushi-singh */
.header {
    font-size: 2em;
    color: #fff;
    margin-top: 180px;
    margin-left: 70px;
    font-family: 'Inter', sans-serif;
}


.header-text {
    color: #fff;
    margin-top: 50px;
    margin-left: 70px;
    font-family: 'Inter', sans-serif;
}

/* social-handles' container */
.socials {
    z-index: 3;
    position: absolute;
    color: #fff;
    bottom: 10px;
    right: 10px;
    font-size: 2em;
    transition: transform .5s ease-in-out;
}

.socials i {
    margin-right: 17px;
    margin-bottom: 20px;
    border: 1px solid;
    padding: 5px;
    backdrop-filter: blur(20px);
    color: #fff;
    text-decoration: none;
}

.socials :hover {
    transform: scale(1.3);
    border-radius: 5px;
    color: #fff;
}

/* about section */
#about {
    margin-top: 15px;
    border: 1px solid rgb(236, 230, 230);
    background-color: #4e6448;
}

.background-image {
    position: relative;
}

/* overlay box (over the rendered-image) */
.overlay-box {
    z-index: 1;
    position: absolute;
    top: 810px;
    left: 460px;
    height: 400px;
    width: 400px;
    background: rgba(255, 255, 255, 0.145);
    box-shadow: 0 8px 32px 0 rgba(8, 8, 8, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    font-family: 'Inter', sans-serif;
    color: #fff;
}

.bbox{
    list-style-type: none;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-right: 30px;
    margin-top: 30px;
}

/* .box-9{ */
    /* animation: floating 5s infinite; */

.about-text{
    font-family: 'Inter', sans-serif;
    color: #fff;
}

/*tech-stack and experience */
#more {
    margin-top: 15px;
    border: 1px solid rgb(236, 230, 230);
    background-color: #4e6448;
    position: relative;
    padding-bottom: 300px;
}

h2 {
    color: #fff;
    font-size: 3em;
    margin-top: 40px;
    margin-left: 70px;
}

.cont {
    display: block;
    margin: 0 auto;
    padding: 45px;
    width: 900px;
    border: 10px;
    border-radius: 10px;
    box-shadow: inset 0 0 10px #1d1e1fa9;
    margin-bottom: 30px;
    font-size: 3em;
    backdrop-filter: blur(5px);
    color: #fff;
}

.cont i {
    margin-right: 40px;
    margin-left: 40px;
    border: 1px solid;
    padding: 7px;
}

.tech-stack {
    z-index: 3;
    position: relative;
}

.background-elements {
    z-index: 2;
    position: absolute;
    animation: floating 5s infinite;
    left: 40px;
}

/* .circle{
    z-index: 1;
    position: absolute;
    top: 600px;
    left: 230px;
    animation: float 5s infinite;
    visibility: hidden;
} */

@keyframes floating {
    0% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(0px, 40px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

.experience {
    margin-top: 120px;
    margin-right: 170px;
}

.box-border {
    margin-left: 160px;
    padding-top: 30px;

}

.sidebar {
    width: 200px;
    position: absolute;
}

.sidebar a {
    display: block;
    color: #fff;
    padding: 16px;
    text-decoration: none;
    border-left: 3px solid #90aa88;
}

.sidebar a:hover {
    background-color: #90aa88;
    color: white;
    border-color: #506649;
}

#content {
    margin-left: 225px;
    margin-right: 10px;
    font-size: 1.5em;
    height: 145px;
    color: #fff;
}

/* project-cards */
#projects {
    margin-top: 15px;
    border: 1px solid rgb(236, 230, 230);
    background-color: #4e6448;
}

:root {
    --surface-color: #fff;
    --curve: 40;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 4rem 5vw;
    /* padding: 0; */
    list-style-type: none;
}

.card {
    position: relative;
    display: block;
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
    border: 3px solid #90aa88;
}

.card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: calc(var(--curve) * 1px);
    background-color: var(--surface-color);
    transform: translateY(100%);
    transition: .2s ease-in-out;
}

.card:hover .card__overlay {
    transform: translateY(0);
}

.card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
}

.card:hover .card__header {
    transform: translateY(0);
}

.card__title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: #6A515E;
}

.card__description {
    padding: 0 2em 2em;
    margin: 0;
    color: #D7BDCA;
    font-family: "MockFlowFont";
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}